<ion-grid>
  <ion-row>
    <ion-col size="12" sizeMd="4">
      <ion-item>
        <ion-input [(ngModel)]="name" placeholder="Ingredient Name">
        </ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" sizeMd="4">
      <ion-item>
      <ion-input [(ngModel)]="quantity" placeholder="Quantity"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="8" sizeMd="3">
      <ion-segment (ionChange)="onUnitsSelected($event)">
        <ion-segment-button [value]="grm">
          GRM
        </ion-segment-button>
        <ion-segment-button [value]="ml">
          ML
        </ion-segment-button>
      </ion-segment>
    </ion-col>
    <ion-col size="4" sizeMd="1">
      <ion-button (click)="onClickAdd()" color="primary"><ion-icon name="add-circle-outline" slot="icon-only"></ion-icon></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-ingredient-list [ingredients]="ingredients"></app-ingredient-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-textarea [(ngModel)]="desc" placeholder="Recipe details">

      </ion-textarea>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="onClickSave()"color="primary">Save</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="onClickCancel()" color="danger">Cancel</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
