<ion-card>
    <ion-header>
        <ion-card-title>
            New recipe
        </ion-card-title>
    </ion-header>
</ion-card>
<ion-card>
    <ion-card-content>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-input
                    placeholder="Recipe name"
                    >
                    </ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <app-ingredient-form-units>

                    </app-ingredient-form-units>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>
