<ion-card class="ion-no-margin h-100">
    <ion-card-content>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-input
                            [(ngModel)]="name"
                    placeholder="Recipe name"
                    >
                    </ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <app-ingredient-form-units>

                    </app-ingredient-form-units>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-textarea [(ngModel)]="desc" placeholder="Recipe details">

                    </ion-textarea>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button (click)="onClickSave()" [disabled]="validate()" color="primary">Save</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="onClickCancel()" color="danger">Cancel</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>
